/* :root {
    --primary-color: rgba(13, 110, 139, 0.70);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}
@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', sans-serif;
    line-height: 1.4;
} */

@media (max-width: 520px) {
    .extra-btn {
        display: none;
    }
}

@media (min-width: 521px) {
    .extra-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
    }
}
.error {
    color: #dc3544;
    font-size: 12px;

}